$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #ffffff;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: 333333;

@import 'bootstrap';
@import "font-awesome";
@import "home";
@import "posts";
@import "image_assets";

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  padding-top: 60px;
  background-color: #f2f2f2;
}

.logo {
  font-size: 24px;
  padding-left: 70px;
  @media all and (min-width:100px) and (max-width:500px){
    padding-left: 30px;
  }
}

.loooog-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.WF-bold {
  font-family: 'Cuprum', sans-serif;
}

.WF-thin {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.loooog-text {

}

.loooog-container {
  padding-bottom: 2%;
}

#footer {
  display: table;
  bottom: 0;
  height: 100px;
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.footer-container {
  display: table-cell;
  vertical-align: middle;
  color: #BBBBBB;
}

.footer-text {
  font-size: 9pt;
}

