$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

@import 'bootstrap';
@import "font-awesome";
@import "posts";

@import "pagedown_bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "google-code-prettify-rails/prettify";

body { padding-top: 60px; }

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}