// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-list {
  background-color: #FFFFFF;
  display: table;

  margin: auto 2% 1px 2%;

  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.home-list-image {
  display: table-cell;
  width: 200px;
  align: right;
}

.home-list-background-image {
  width: 200px;
  height: 200px;

  background-size: cover;
  margin:0 auto; display:block;
}

.post-list-background-image {
  width: 100px;
  height: 50px;

  background-size: cover;
}

.home-list-body {
  width: 80%;
  display: table-cell;
  vertical-align: top;
  @media all and (min-width:500px) and (max-width:1024px){
    padding-left: 1em;
  }
}

.home-list-body-text {
  vertical-align: top;
  padding-left: 1%;
}