// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-list {
  @media all and (min-width:1025px){

  }
  display: table;
  margin-top: 1px;
  margin-left: 5%;
  margin-right: 5%;
  @media all and (min-width:500px) and (max-width:1024px){
    margin-left: -45px;
    margin-right: -45px;
  }
  @media all and (min-width:100px) and (max-width:500px){
    margin-left: -15px;
    margin-right: -15px;
  }
}

.home-list-image {
  display: table-cell;
  width: 10%;
}

.home-list-background-image {
  width: 100%;
  height: 200px;

  @media all and (min-width:100px) and (max-width:1024px){
    width: 100%;
    height: 140px;
  }

  background-size: cover;
}

.post-list-background-image {
  width: 100px;
  height: 50px;

  background-size: cover;
}

.home-list-body {
  width: 30%;
  display: table-cell;
  vertical-align: top;
}

.home-list-body-text {
  @media all and (min-width:100px) and (max-width:1024px){
    margin-top: -10px;
    margin-left: 5px;
  }
  vertical-align: top;
  padding-left: 1%;
}
