// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag_list {
  margin-bottom: .5em;
}

.post-top {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  width: 100%;
}

p > img {
  max-width: 90%;
  margin: 3%;
}

a {
  &:hover {
    text-decoration: none;
    color: #676767;
  }
}

a.tag {
  border:1px solid #eaeaea;
  border-radius:3px;
  background-color: #f4f4f4;
  padding:.1em .2em;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #265484;
    border:1px solid #265484;
  }
}

input[type='file'] {
  border: 1px solid #d1d1d1;
  padding: .5em;
  border-radius: .3em;
  width: 100%;
}

.home-heading {
  font-size: 18pt;
}

.header-date {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #aaaaaa;
}

.show-image {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.table th {
  text-align: center;
}